# Core Web Framework
Flask==2.3.3

# NLP & Text Processing
spacy==3.7.2
nltk==3.8.1
language-tool-python==2.7.1
transformers==4.41.2
sentencepiece==0.2.0
torch>=2.1.0

# Resume Parsing
pdfplumber==0.11.0
python-docx==1.1.0


# Data Handling & Utilities
pandas==2.2.2
numpy==1.26.4
protobuf==5.26.1
requests==2.31.0

# Keyword Extraction
skillNer==1.0.3